body {
    text-align: center;
    margin-top: 0;
    background-color: #ebecb3;
    color: #2b0504;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #navbarSupportedContent {
    z-index: 1;
} */

.navbar {
    background-color: #003049 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.navbar-brand {
    color: #ebecb3 !important;
}

.nav-link {
    color: #ebecb3 !important;
}

#title {
    margin-top: 1.5em;
}

.carousel-item {
    height: 450px;
}

#carouselContainer {
    width: 75%;
    margin-top: 2em;
    margin-left: 10%;
}

#listen {
    margin-top: 2em;
    margin-bottom: 2em;
}

#listen h2 {
    margin-bottom: .75em;
}

#listen>a>img {
    margin-bottom: 1em;
}

#youtube>img {
    margin-left: 1em;
    height: 38px;
}

#social h2 {
    margin-bottom: .75em;
}

#social img {
    height: 30px;
}

#anchor img {
    width: 38px;
    height: 38px;
    margin-right: 1em;
}

#apple img {
    margin-right: 1em;
}

#facebook img {
    height: 32px;
    margin-right: .55em;
}

#twitter img {
    height: 45px;
}

#instagram img {
    margin-right: .55em;
}

.bio {
    margin-left: 22.5%;
    margin-top: 3.5em;
    width: 55%;
}

.bio p {
    margin-bottom: 1.5em;
}

.contactPage {
    margin-top: 3.5em;
}

.contactPage h2 {
    margin-bottom: 1em;
}

.contactPage p {
    margin-bottom: 2em;
}

#form {
    background-color: #c7c79f;
    padding: 2em;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2em;
}

#matt {
    margin-top: 2.75em;
}

ul {
    list-style-type: none;
    text-align: left;
}

a {
    text-decoration: none;
}

#nav {
    width: 100%;
    height: 3em;
}